@define-color background #041026;
@define-color background-light #4f5867;
@define-color background-light-hover #4e5664;
/* @define-color foreground #ccd6e6; */
@define-color foreground #aeb1b6;
@define-color foreground-hover #b5bdca;

* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "SpaceMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.478);
  font-family: SpaceMono Nerd Font, feather;
  transition: background-color 0.5s;
  min-height: 0px;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0px;
  border-radius: 15px;
}

.modules-center {
  padding: 0px;
  margin: 0px 5px;
}

.modules-right {
  padding: 5px 14px;
}

#workspaces {
  padding: 0px 0px;
  margin: 0px 10px;
  min-height: 0px;
}

#workspaces button {
  background: transparent;
  font-family: SpaceMono Nerd Font, feather;
  font-weight: 900;
  font-size: 13pt;
  color: @background-light;
  border: none;
  border-radius: 15px;
  margin: -4px -5px;
  min-height: 0px;
}

#workspaces button label.workspace-label {
  font-size: 16px;
}

#workspaces button.active label.workspace-label {
  font-size: 16px;
  color: @foreground;
}

#custom-appmenu {
  margin-left: 15px;
  font-size: 16px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd,
#custom-notification,
#custom-exit,
#custom-updates,
#power-profiles-daemon,
#custom-cliphist,
#custom-hypridle,
#custom-system,
#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
  font-size: 16px;
  margin: -2px 10px;
  padding: 0px;
  color: @foreground;
}

#pulseaudio {
  letter-spacing: 1px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover,
#custom-notification:hover,
#custom-exit:hover,
#custom-updates:hover,
#power-profiles-daemon:hover,
#custom-cliphist:hover,
#custom-hypridle:hover,
#custom-system:hover,
#custom-brave:hover,
#custom-browser:hover,
#custom-keybindings:hover,
#custom-outlook:hover,
#custom-filemanager:hover,
#custom-teams:hover,
#custom-chatgpt:hover,
#custom-calculator:hover,
#custom-windowsvm:hover,
#custom-cliphist:hover,
#custom-settings:hover,
#custom-wallpaper:hover,
#custom-system:hover,
#custom-hyprshade:hover,
#custom-hypridle:hover,
#custom-quicklink1:hover,
#custom-quicklink2:hover,
#custom-quicklink3:hover,
#custom-quicklink4:hover,
#custom-quicklink5:hover,
#custom-quicklink6:hover,
#custom-quicklink7:hover,
#custom-quicklink8:hover,
#custom-quicklink9:hover,
#custom-quicklink10:hover,
#custom-waybarthemes:hover {
  color: @foreground-hover;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #ffffff;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #ffffff;
}

#clock {
  margin-left: 20px;
  font-size: 16px;
}
